.top {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-evenly;

}

.leftSide {
    display: flex;
    flex-direction: column;
    width: auto;
}



.img {

    width: auto;
    max-height: 300px;
    align-self: center;
    margin-bottom: 20px;

}

.portrait {
    width: auto;
    max-height: 150px;

}



.CommunityAmenities {
    background-color: cadetblue;
    width: 80%;
    align-self: center;
    margin-bottom: 20px;

}

.ApartmentAmenities {
    background-color: cornflowerblue;
    width: 80%;
    align-self: center;
    margin-bottom: 20px;

}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

.button:hover {
    background-color: black;
}

.main {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.main {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

@supports (display: flex) {

    @media(max-width:900px) {
        .main {
            display: flex;
            flex-direction: column;
        }
    }
}

.rightSide {
    align-self: center;
    margin-bottom: 20px;
}