/* .recommend {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

} */
@supports not (display: grid) {
    .recommend {
        columns: 3 5em;
    }
}

@supports (display: grid) {
    .recommend {
        display: grid;
        grid-template-columns: 1fr;
        padding: 15px;
        border-radius: 10px;
        grid-gap: 20px 20px;

    }

    @media(min-width:700px) {
        .recommend {

            grid-template-columns: 1fr 1fr;
            font-size: 1.4rem;

        }
    }

    @media(min-width:1100px) {
        .recommend {

            grid-template-columns: 1fr 1fr 1fr;
            font-size: 1.2rem;
        }
    }

    @media(min-width:1400px) {
        .recommend {

            grid-template-columns: 1fr 1fr 1fr 1fr;
            font-size: 0.9rem;
        }
    }

}





.source {
    grid-column: 1;
}